* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;    
}


body {
    display: flex;
    flex-direction: column;
}
#wrapper {
    background-image: linear-gradient(
        70deg,
        hsl(326deg 100% 77%) 0%,
        hsl(333deg 100% 78%) 18%,
        hsl(342deg 100% 79%) 34%,
        hsl(353deg 100% 80%) 50%,
        hsl(6deg 100% 80%) 64%,
        hsl(18deg 100% 77%) 76%,
        hsl(27deg 100% 75%) 86%,
        hsl(34deg 100% 74%) 93%,
        hsl(41deg 100% 73%) 98%,
        hsl(47deg 100% 73%) 100%,
        hsl(52deg 100% 74%) 100%
    );
}
.header-img {
    height: 200px;
    width: 50%;
}

.header-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 175px 100px 175px;
       
}

.header-container p {
    font-weight: bold;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.menu {
    display: flex;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 175px 80px 175px;
    gap: 50px;
    color: white;
    justify-content: space-between;
;
    
}

.text-container {
    display: flex;
    flex-flow: column;
    gap: 15px;
    max-width: 450px;
        
}

.text-container h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 37px;
}

.text-container p {
    max-width: 400px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:17px;
    line-height: 1.7;
    color: rgb(241, 241, 241);  
    margin-bottom: 50px;
    
}

.awesome {
    display: block;
    width: 75px;
    color: #ffe347;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid;
    border-width: 3px;
    padding: 5px;

}

.text-container button {
    width: 270px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #ffdb87;
    background-color: #ff2e93;
    padding: 12px 34px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 16px;    
    
}

.content-img {
    max-width: 450px;
    border-radius: 10%;
    border: 5px solid #ffffff;
    border-top: 0;
    border-left: 0;
}

.text-container button:hover{
    background-color: #ffde91;
    color: #ff2e93;
    border: none;

}